fascia
.DS_Store
fascia.dSYM

# exclude everything
graphs/*

# exception to the rule
!graphs/gitkeep.txt

# exclude everything
sim2_corr/*

# exception to the rule
!sim2_corr/gitkeep.txt

# exclude everything
sim2_ind/*

# exception to the rule
!sim2_ind/gitkeep.txt

# exclude everything
facebook/*

# exception to the rule
!facebook/gitkeep.txt

# exclude everything
small_fb/*

# exception to the rule
!small_fb/gitkeep.txt

# exclude everything
samp_run/*

# exception to the rule
!samp_run/gitkeep.txt

# exclude everything
count_trees_no/*

# exception to the rule
!count_trees_no/gitkeep.txt

# exclude everything
count_trees_o/*

# exception to the rule
!count_trees_o/gitkeep.txt